# IDE specific
/.idea/
/.vscode/
.vscode
.idea
*.iml
*.iws

# CodeIgniter 4 specific
/backend/node_modules
/backend/writable/
/backend/env
/backend/spark
/backend/phpunit.xml.dist
/backend/.htaccess
backend/vendor
backend/composer.lock
backend/.env
backend/.env.local

# React / Node specific
frontend-expo/node_modules
frontend-expo/dist
frontend-expo/.idea
frontend-expo/.vscode
frontend-expo/.env
frontend-expo/.env.local
frontend-expo/.env.development.local
frontend-expo/.env.test.local
frontend-expo/.env.production.local
frontend-expo/.eslintcache
frontend-expo/.eslintignore
frontend-expo/.eslintrc.js
frontend-expo/.gitignore
frontend-expo/.prettierignore
frontend-expo/.prettierrc
frontend-expo/.stylelintignore
frontend-expo/.stylelintrc
frontend-expo/.browserslistrc
frontend-expo/.postcssrc.js
frontend-expo/babel.config.js

frontend-expo-expo/.expo
frontend-expo-expo/node_modules

# OS specific
.DS_Store
Thumbs.db

frontend-expo/debug.log
