# IDE specific
/.idea/
/.vscode/
.vscode
.idea
*.iml
*.iws

# CodeIgniter 4 specific
/backend/writable/
/backend/env
/backend/spark
/backend/phpunit.xml.dist
/backend/.htaccess
backend/.env
backend/.env.local

# React / Node specific
frontend/node_modules
frontend/dist
frontend/.idea
frontend/.vscode
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.eslintcache
frontend/.eslintignore
frontend/.eslintrc.js
frontend/.gitignore
frontend/.prettierignore
frontend/.prettierrc
frontend/.stylelintignore
frontend/.stylelintrc
frontend/.browserslistrc
frontend/.postcssrc.js
frontend/babel.config.js

frontend-expo/.expo
frontend-expo/node_modules

# OS specific
.DS_Store
Thumbs.db


