.formRegistration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    margin: 20px;
}
  
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.btnValider {
    border: none;
    border-radius: 5px;
    background-color: #000091;
    color: white;
    cursor: pointer;
    padding: 10px;

    &:hover {
        background-color: #1212ff;
    }
}