.mainHeader {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}

.ministereLogo {
    max-width: 20%;
    height: auto;
}

.endHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 10px;
}

.loginLink {
    text-decoration: none;
    color: #000091;
    border: 1px solid #000091;
    padding: 5px;
}

.iconUser {
    margin-right: 8px;
}

.navbar {
    width: 100%;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.navItems {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    border: 1px solid gray;
    padding: 20px 0;
}

.navLinks {
    text-decoration: none;
    color: black;
}